<%# Session component for the details of a time_slot within an event's timetable %>
<%# session:: expected to be a Session %>
<article class="session">
  <h2><%= session.title%></h2>
  <%= session.description %>
  <%= session.requirements %>
</article>
