<%# Sessions component for a time_slot within an event's timetable %>
<%# time_slot:: expected to be a TimeSlot %>
<div class="hidden p-2 time-slot-sessions" data-time_slot="time_slot_<%= time_slot.id %>">
  <h3 class="text-orange-500 text-xl"><%= time_slot.title %></h3>
  <% time_slot.sessions.each do |session|%>
    <%= render partial: 'sessions/timetable_session', locals: {session: session }%>
  <% end %>
</div>
