<%# All session thumbnails for a given session_type within an event's %>
<%# session summary %>
<%# session_type_id:: expected to be the ID of a SessionType %>
<%# event:: expected to be an Event %>
<div class="border border-orange origin-top" data-session_type=session_type_<%= session_type_id %> 
 x-show="selectedSessionType == 'session_type_<%= session_type_id %>'" 
 x-transition:enter="transition ease-out duration-300 transform"
 x-transition:enter-start="opacity-0 scale-75"
 x-transition:enter-end="opacity-100 scale-100"
 x-cloak>
  <div class="md:grid md:grid-cols-2 xl:grid-cols-3 p-4 space-y-4 md:space-y-0 md:gap-y-4 md:gap-x-6" data-sessions>
    <% event.sessions.where(session_type: session_type_id)
                     .order(title: :asc)
                     .with_attached_featured_image
                     .includes(%i[plain_text_translations presenters time_slots])
                     .each do |session| %>
      <%= render partial: 'sessions/session_thumbnail', locals: {session: session}  %>
    <% end %>
  </div>
</div>
