<%# Sessions summary component for an event %>
<%# event:: expected to be an Event %>
<section id="event-sessions-summary" x-data="sessionsSummaryTab" x-init="setup('session_type_<%= event.session_types_with_counts.first.id %>')">
  <h2 class="mt-2 text-2xl font-bold leading-8 tracking-tight text-orange sm:text-3xl"><%= t('.sessions_summary') %></h2>
  <div class="sm:hidden mt-8">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <!-- todo: use real session types here -->
    <select id="tabs" name="tabs" class="block w-full rounded-md border-orange-300 focus:border-orange-800 focus:ring-orange-800">
      <option selected>My Account</option>
      <option>Company</option>
      <option>Team Members</option>
      <option>Billing</option>
    </select>
  </div>
  <div class="hidden sm:block mt-8">
    <%# tab controls for session types %>
    <nav class="isolate flex divide-x divide-orange-300 rounded-lg shadow bg-orange-100" aria-label="Tabs">
      <!-- Current: "text-orange-900", Default: "text-orange-500 hover:text-orange-700" -->
      <% event.session_types_with_counts.each_with_index do |session_type_with_count, index| %>
        <%= session_type_tab session_type_with_count, index %>
      <% end%>
    </nav>
    <section id="session-summaries">
      <% event.session_types_with_counts.each do |session_type | %>
        <%= render partial: 'session_types/timetable_session_type_summary', locals: {session_type_id: session_type.id, event: event}  %>
      <% end%>
    </section>
  </div>
</section>
