<div class="w-full space-y-4">
  <%# this notice stuff is probably irrelevant, since it is in the layout %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <header class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= event_index_header (params[:scope] )%></h1>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New event', new_admin_event_path, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </header>
  <section id="events" class="min-w-full">
    <%= render @events %>
  </section>
</div>
