<%# not actually used at the moment, but if we decide to make data entry a %>
<%# little more user friendly, this might help if it had a drop-down, and  %>
<%# the value was widely used. %>
<div class='px-8 py-4'>
  <p><span class="font-bold"><%= t('.users_default_event') %></span>: <%= current_user.default_event.title %></p>
</div>
