<% content_for :title, @page.title %>
<article>
  <h1 class="text-3xl font-bold leading-tight text-gray-900"><%=  yield(:title) %></h1>
  <section class="py-8">
    <%= @page.body %>
  </section>
</article>
