<% title t('internal_server_error') %>
<h1>Something went wrong</h1>
<h2><%= t('internal_server_error') %></h2>
<p>We're sorry, but something went wrong on our end. Please try again later or go back to the <a href="/" class="underline">homepage</a>.</p>